footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column nowrap;
    
}
#contenidoRedes{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.copy{
    width: 100%;
    height: auto;
    background-color: aquamarine;
    

}
.iconosRedes{
    width: 60px;
    height: 40px;
}